{% extends 'iha_dealer_navbar.html' %}
{% block title %} Customer Login {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container">
<form method="POST" enctype="multipart/form-data"> {% csrf_token %}
    <div class="row mt-2">
        <div class="form-group col-md-12">
            <label><i style="font-weight: bold;">Iha Name</i></label>
            <input type="text" class="form-control" name="iha_name" placeholder="Name of the Iha">
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="form-group col-md-6">
            <label><i style="font-weight: bold;">City</i></label>
            <input type="text" class="form-control" name="city" placeholder="City">
        </div>
        <div class="form-group col-md-6">
            <label><i style="font-weight: bold;">Iha Image</i></label>
            <input type="file" class="form-control" name="image">
        </div>
    </div>

    <div class="row mt-3">
        <div class="form-group col-md-6">
            <label><i style="font-weight: bold;">Maximum Flight Time</i></label>
            <input type="number" step="any" class="form-control" name="max_flight_time" placeholder="Hours">
        </div>
        <div class="form-group col-md-6">
            <label><i style="font-weight: bold;">Rent</i></label>
            <input type="number" step="any" class="form-control" name="rent" placeholder="Rental Fee Per Day (TL)">
        </div>
    </div>

<div class="row mt-3">
    <div class="form-group col-md-6">
        <label><i style="font-weight: bold;">Operational Altitude</i></label>
        <input type="number" step="any" class="form-control" name="operational_altitude" placeholder="Feet">
    </div>
    <div class="form-group col-md-6">
        <label><i style="font-weight: bold;">Maximum Altitude</i></label>
        <input type="number" step="any" class="form-control" name="max_altitude" placeholder="Feet">
    </div>
</div>

<div class="row mt-3">
    <div class="form-group col-md-6">
        <label><i style="font-weight: bold;">Paylod Capacity</i></label>
        <input type="number" step="any" class="form-control" name="payload_capacity" placeholder="Kg">
    </div>
    <div class="form-group col-md-6">
        <label><i style="font-weight: bold;">Maximum Takeoff Weight</i></label>
        <input type="number" step="any" class="form-control" name="max_takeoff_weight" placeholder="Kg">
    </div>
</div>

<div class="row mt-3">
    <div class="form-group col-md-6">
        <label><i style="font-weight: bold;">Cruise Speed</i></label>
        <input type="number" step="any" class="form-control" name="cruise_speed" placeholder="Knot">
    </div>
    <div class="form-group col-md-6">
        <label><i style="font-weight: bold;">Maximum Speed</i></label>
        <input type="number" step="any" class="form-control" name="max_speed" placeholder="Knot">
    </div>
</div>

<div class="row mt-3">
    <div class="form-group col-md-6">
        <label><i style="font-weight: bold;">Height</i></label>
        <input type="number" step="any" class="form-control" name="height" placeholder="Metre">
    </div>
    <div class="form-group col-md-6">
        <label><i style="font-weight: bold;">Lenght</i></label>
        <input type="number" step="any" class="form-control" name="lenght" placeholder="Metre">
    </div>
</div>

<div class="row mt-3">
    <div class="form-group col-md-6">
        <label><i style="font-weight: bold;">Wingspan</i></label>
        <input type="number" step="any" class="form-control" name="wingspan" placeholder="Metre">
    </div>
    <div class="form-group col-md-6">
        <label><i style="font-weight: bold;">Communication Range</i></label>
        <input type="number" step="any" class="form-control" name="communication_range" placeholder="Kilometre">
    </div>
</div>

<div class="row mt-2">
    <div class="form-group col-md-12">
        <label><i style="font-weight: bold;">Fuel Capacity</i></label>
        <input type="number" step="any" class="form-control" name="fuel_capacity" placeholder="Litre">
    </div>
</div>


    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
  </div>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
      alert("Iha added successfully.");
      document.location = "/add_iha";
    {% endif %}
  </script>
{% endblock %}

