{% extends 'customer_navbar.html' %}
{% block title %} Customer Login {% endblock %}
{% block css %}
<style>
    h1 {
        text-align: center;
        color: black;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    th {
        background-color: #0065d8b9;
        color: white;
    }

    th,
    td {
        border: 2px solid #ddd;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    {% if request.session.vehicles_list %}
    <h1 class="mt-4">Ihas List</h1>
    <div class="users-table mt-4">
      <table>
        <thead>
          <tr>
            <th>Iha Name</th>
            <th>Image</th>
            <th>City</th>
            <th>Rent</th>
            <th>Operational Altitude</th>
            <th>Max Altitude</th>
            <th>Max Flight Time</th>
            <th>Payload Capacity</th>
            <th>Communication Range</th>
            <th>Fuel Capacity</th>
            <th>Cruise Speed</th>
            <th>Max Speed</th>
            <th>Max Takeoff Weight</th>
            <th>Height</th>
            <th>Wingspan</th>
            <th>Length</th>
            <th>Rent Now</th>
          </tr>
        </thead>
                {% for iha in request.session.vehicles_list %}
                <tr>
                  <td>{{iha.name}}</td>
                  <td><img src="{{iha.image}}" alt="" width="100px" height="100px"></td>
                  <td>{{iha.city}}</td>
                  <td>{{iha.rent}}</td>
                  <td>{{iha.operational_altitude}}</td>
                  <td>{{iha.max_altitude}}</td>
                  <td>{{iha.max_flight_time}}</td>
                  <td>{{iha.payload_capacity}}</td>
                  <td>{{iha.communication_range}}</td>
                  <td>{{iha.fuel_capacity}}</td>
                  <td>{{iha.cruise_speed}}</td>
                  <td>{{iha.max_speed}}</td>
                  <td>{{iha.max_takeoff_weight}}</td>
                  <td>{{iha.height}}</td>
                  <td>{{iha.wingspan}}</td>
                  <td>{{iha.length}}</td>
                    <td><form action = "/iha_rent/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{iha.id}}">
                        <input class="btn btn-dark" type="submit" value="Rent Now">
                        </form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <br>
        <h2>No Ihas Available</h2>
        {% endif %}
    </div>
    {% endblock %}