{% extends 'iha_dealer_navbar.html' %}
{% block title %} Edit Iha Details {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-5">
    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="row mt-2">
            <div class="form-group col-md-12">
                <label><i style="font-weight: bold;">Iha Name</i></label>
                <input type="text" class="form-control" name="iha_name" value="{{iha.name}}" required>
            </div>
        </div>
        
        <div class="row mt-3">
            <div class="form-group col-md-6">
                <label><i style="font-weight: bold;">City</i></label>
                <input type="text" class="form-control" name="city" value="{{iha.location.city}}" required>
            </div>
            <div class="form-group col-md-6">
                <label><i style="font-weight: bold;">Iha Image &nbsp;&nbsp;&nbsp;<a href="/media/{{iha.image}}/">View Image</a></i></label>
                <input type="file" class="form-control" name="image">
            </div>
        </div>
    
        <div class="row mt-3">
            <div class="form-group col-md-12">
                <label><i style="font-weight: bold;">Capacity</i></label>
                <input type="number" class="form-control" name="capacity" value="{{iha.capacity}}" required>
            </div>
        </div>
    
        <div class="row mt-3">
            <div class="form-group col-md-12">
                <label><i style="font-weight: bold;">Rent (per day)</i></label>
                <input type="number" class="form-control" name="rent" value="{{iha.rent}}" required>
            </div>
        </div>
    
        <button type="submit" class="btn btn-primary mt-4 btn-lg">Update Details</button>
      </form>
      </div>
{% endblock %}
{% block js %}
<script>
    if ("{{alert}}" === "true") {
      alert("Iha Details Updated Successfully.");
      document.location = "/all_ihas";
    }
  </script>
{% endblock %}