{% extends 'customer_navbar.html' %}
{% block title %} Customer Login {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
      <h3><b>Order Completed</b></h3>
      <b>Your Vehicle Order Has Been Processed!</b><br><br>
      <b>Total Rent :</b> ₹ {{order.rent}}<br><br>
      <b>Vehicle :</b> {{order.iha.name}}<br><br>
      <b>Duration :</b> {{order.days}} days<br><br>
      <b>Iha-Dealer :</b> {{order.iha_dealer.iha_dealer.first_name}} {{order.iha_dealer.iha_dealer.last_name}}<br><br>
      <b>Iha-Dealer's Contact:</b> {{order.iha_dealer.phone}}<br><br>
      </div>
      </div>
</div>
{% endblock %}
